* {
    box-sizing: border-box;
    letter-spacing: 0.1em;
}

body {
    background-color: #111;
    color: white;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
}

.lists{
    margin-top: -150px;
}